[package]
name = "sov-stf-runner"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
readme = "README.md"
repository = { workspace = true }
resolver = "2"
description = "Runs Sovereign SDK rollups and their verifiers"

[dependencies]
# 3rd-Party deps
anyhow = { workspace = true }
async-trait = { workspace = true, optional = true }
borsh = { workspace = true }
futures = { workspace = true, optional = true }
hex = { workspace = true }
hyper = { workspace = true, optional = true }
jsonrpsee = { workspace = true, features = ["http-client", "server"], optional = true }
rand = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
toml = { workspace = true, optional = true }
tower = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }

# Sovereign-SDK deps
sov-db = { path = "../db/sov-db", optional = true }
sov-modules-api = { path = "../../module-system/sov-modules-api", default-features = false }
sov-rollup-interface = { path = "../../rollup-interface" }

# Citrea
citrea-pruning = { path = "../../../pruning", optional = true }

[dev-dependencies]
sha2 = { workspace = true }
tempfile = { workspace = true }

sov-mock-da = { path = "../../adapters/mock-da", features = ["native"] }
sov-modules-api = { path = "../../module-system/sov-modules-api", features = ["native"] }
sov-prover-storage-manager = { path = "../sov-prover-storage-manager", features = ["test-utils"] }
sov-state = { path = "../../module-system/sov-state", features = ["native"] }

[features]
default = []
mock = ["native"]
native = [
  "sov-db",
  "sov-modules-api/native",
  "jsonrpsee",
  "toml",
  "tokio",
  "tracing",
  "futures",
  "async-trait",
  "thiserror",
  "rand",
  "tower",
  "hyper",
  "dep:citrea-pruning",
]
