# Default owners for all files
* @chainwayxyz/core-bdfl
# Owners for CI/CD and infrastructure files
/.github/** @chainwayxyz/devops-writers
/.gitsecret/** @chainwayxyz/devops-writers
/devops/** @chainwayxyz/devops-writers
