# -------------------------------------------------------------------------------
# DEFAULT CODEOWNERS
# -------------------------------------------------------------------------------
# Default owners for all files
*                                  @citrea-writers
# Owners for CI/CD and infrastructure files
[CI/CD AND INFRASTRUCTURE][4] @devops-bdfl @secops-bdfl @citrea-bdfl @clementine-bdfl
/.github/**
/.gitsecret/**
/devops/**
# -------------------------------------------------------------------------------
# REPO SPECIFIC CODEOWNERS
# -------------------------------------------------------------------------------
[BDFL] @citrea-bdfl
*
