# -------------------------------------------------------------------------------
# DEFAULT CODEOWNERS
# -------------------------------------------------------------------------------
# Default owners for all files
*                                  @core
# Owners for CI/CD and infrastructure files
[CI/CD AND INFRASTRUCTURE][4] @chinacolt @devops @secops @eyusufatik @ekrembal
/.github/**
/.gitsecret/**
/devops/**
# -------------------------------------------------------------------------------
# REPO SPECIFIC CODEOWNERS
# -------------------------------------------------------------------------------
[BDFL] @eyusufatik
*
