# exclude everything
*

# include source files
!/bin
!/crates
!/resources
!Cargo.lock
!Cargo.toml
!deny.toml
!constants.json
!constants.test.json
!Makefile
!packages_to_publish.yml
!rust-toolchain.toml
!rustfmt.toml
!/da-db

# include for vergen constants
!/.git



# include licenses
!LICENSE-*
!LICENSE

