# exclude everything
*

# include source files
!/bin
!/configs
!/crates
!/hive
!/test-da-dbs
!Cargo.lock
!Cargo.toml
!deny.toml
!constants.json
!constants.test.json
!Makefile
!packages_to_publish.yml
!rust-toolchain.toml
!rustfmt.toml

# include for vergen constants
!/.git



# include licenses
!LICENSE-*
!LICENSE

