[submodule "crates/evm/src/evm/system_contracts/lib/forge-std"]
	path = crates/evm/src/evm/system_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crates/evm/src/evm/system_contracts/lib/bitcoin-spv"]
	path = crates/evm/src/evm/system_contracts/lib/bitcoin-spv
	url = https://github.com/keep-network/bitcoin-spv
[submodule "crates/evm/src/evm/system_contracts/lib/openzeppelin-contracts"]
	path = crates/evm/src/evm/system_contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
