[package]
name = "sov-modules-rollup-blueprint"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = true
readme = "README.md"
repository = { workspace = true }
resolver = "2"
description = "This crate contains abstractions needed to create a new rollup"

[dependencies]
node-configs = { path = "../../../node-configs", features = ["native"] }
sov-cli = { path = "../../module-system/sov-cli" }
sov-modules-api = { path = "../../module-system/sov-modules-api", features = ["native"] }
sov-rollup-interface = { path = "../../rollup-interface", features = ["native"] }
sov-state = { path = "../sov-state" }
sov-stf-runner = { path = "../../full-node/sov-stf-runner", features = ["native"] }

sov-db = { path = "../../full-node/db/sov-db" }
sov-modules-stf-blueprint = { path = "../../module-system/sov-modules-stf-blueprint", features = ["native"] }

sov-ledger-rpc = { path = "../../full-node/sov-ledger-rpc", features = ["server"] }

anyhow = { workspace = true }
async-trait = { workspace = true }
borsh = { workspace = true }
hex = { workspace = true }
jsonrpsee = { workspace = true, features = ["http-client", "server"] }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
